<%= form_for(@chemical) do |f| %>
  <% if @chemical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chemical.errors.count, "error") %> prohibited this chemical from being saved:</h2>

      <ul>
      <% @chemical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @myid = 0 %>
  <div id="names">
    <%= render :partial => 'chemical_names/collection_form', :as => :chemical_name, :collection => @chemical.chemical_names,
    :locals => {:myid =>  @myid+=1 } %>
  </div>
  <p>
    <%= add_name_link t(:add_a_name) %>
  </p>

  <div class="field">
    <%= f.label :casrn %><br />
    <%= f.text_field :casrn %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
