<h1><%=t :listing_chemicals%></h1>

<table>
  <tr>
    <th><%=t :recommended_name %></th>
    <th><%=t :casrn %>Casrn</th>
    <th><%=t :changed_by %></th>
    <th><%=t  :notes %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chemicals.each do |chemical| %>
  <tr>
    <td><%= chemical.recommended_name.name %></td>
    <td><%= chemical.casrn %></td>
    <td><%= chemical.changed_by_id %></td>
    <td><%= chemical.note %></td>
    <td><%= link_to t(:show) , chemical %></td>
    <td><%= link_to t(:edit), edit_chemical_path(chemical) %></td>
    <td><%= link_to t(:destroy), chemical, :confirm => t(:are_you_sure) , :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_chemical), new_chemical_path %>
