<p id="notice"><%= notice %></p>

<p>
  <b><%=t :recommended_name %>:</b>
  <%= @chemical.recommended_name.name %>
</p>

<p>
  <b><%=t :casrn %>:</b>
  <%= @chemical.casrn %>
</p>

<p>
  <b><%=t :changed_by %>:</b>
  <%= @chemical.changed_by_id %>
</p>

<p>
  <b><%=t  :notes %>:</b>
  <%= @chemical.note %>
</p>

<p>
  <b><%=t  :alternative_names %>:</b>
  <% @names.each do |name| %>
<p>
    <%= name.name + " [#{name.language}] " %>
</p>
  <% end %>
</p>


<%= link_to t(:edit), edit_chemical_path(@chemical) %> |
<%= link_to t(:back), chemicals_path %>
