<% new_or_existing = chemical_name.new_record? ? 'new' : 'existing' %>
<% prefix = "chemical[#{new_or_existing}_name_attributes][]" %>

<%= fields_for prefix, chemical_name do |f| %>
  <% if chemical_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chemical_name.errors.count, "error") %> prohibited this chemical_name from being saved:</h2>

      <ul>
      <% @chemical_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name">
    
    <%= f.label t(:name) %>
    <%= f.text_field :name %>
    <%= f.text_field :language, :size => 2 %>
    <%= radio_button_tag :recommended_name, :recommended  %>
    <%= chemical_name %>
    <%= link_to_function t(:remove), "$(this).up('.name').remove()" %>
  </div>

<% end %>