<%= form_for(@chemical_name) do |f| %>
  <% if @chemical_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chemical_name.errors.count, "error") %> prohibited this chemical_name from being saved:</h2>

      <ul>
      <% @chemical_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :chemical_id %><br />
    <%= f.text_field :chemical_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
